<aside>
    <div class="navbar">
        <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <fa-icon [icon]="faSpa"></fa-icon>
        </a>
        <a [routerLink]="['/about']" routerLinkActive="active">
            <fa-icon [icon]="faLeaf"></fa-icon>
        </a>
        <a [routerLink]="['/skills']" routerLinkActive="active">
            <fa-icon [icon]="faFire"></fa-icon>
        </a>
        <a [routerLink]="['/projects']" routerLinkActive="active">
            <fa-icon [icon]="faSeedling" ></fa-icon>
        </a>
        <a [routerLink]="['/contact']" routerLinkActive="active">
            <fa-icon [icon]="faFeather"></fa-icon>
        </a>
    </div>
</aside>