@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body{
    background: var(--bg-body);
    color: var(--primary-color);
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

.btn{
    border-radius: var(--border-radius);
    background: var(--primary-color);
    padding: 1rem 3rem;
    color: var(--secondary-color);
    opacity: 1;
    transition: .3s all ease;

    &.secondary{
        background: none;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }

    &:hover{
        opacity: 0.8;
        transition: .3s all ease;
    }
}